# Configurações do Banco de Dados
DATABASE_URL=postgresql://usuario:senha@host:porta/banco

# Configurações do BetterStack
BETTERSTACK_URL=https://in.logs.betterstack.com/
BETTERSTACK_TOKEN=seu_token_aqui

# Configurações da Aplicação
NODE_ENV=development
PORT=3000

# Configurações do Docker (para desenvolvimento local)
POSTGRES_DB=api_integracao
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432 